/* Settings 2 */

body {
    /*display: flex;
    justify-content: center;*/
    /* align-items: center; */
    height: 100vh; /* This ensures the container takes up the full viewport height */
    margin: 0; /* Remove default body margin */
    background-color: #bf5a5d; /*white;*//*#f0f0f0; /* Background color for the entire page */
}

.directions-header {
    /*position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);*/
    font-size: 5vh;
    color: #bf5a5d;
    font-family: "Andale Mono";
}

h1,h2,h3,p,span,label {
    color: #f4ede1;
}

a,#gameValues,#settingValues {
    display: block;
    background-color: #bf5a5d;/*#007bff;*/
    color: #f4ede1; /*white;*/
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font: inherit;
    border: solid 2px #f4ede1; /*white;*/
    border-radius: 7px;
}

button {
    display: inline-block;
    background-color: #bf5a5d;/*#007bff;*/
    color: #f4ede1; /*white;*/
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font: inherit;
    border: solid 2px #f4ede1; /*white;*/
    border-radius: 7px;
}

.leftcolumn {
    float: left;
    width: 25%;
    /*padding-right: 20px;*/
}

.middlecolumn {
    font-family: inherit;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #bf5a5d;; /*#f1f1f1;*/
}

.rightcolumn {
    float: left;
    width: 25%;
    /*padding-left: 20px;*/
}

.box {
    font-family: inherit;
    float: center;
    text-align: center;
    background-color: #bf5a5d;/*white;*/
    padding: auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-left: auto;
    margin-right: auto;
    
}

.clearbox {
    background-color: none;
    padding: 20px;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    text-align: center;
}

.gameGrid {
    display: grid;
    gap: 5px;
    padding-top: 100%;
    margin: auto;
    padding: auto;
    border: none;
}


.gameCell {
    color: auto;/*#ffffff;*/
    border-radius: 10px;
    /*
    position: relative;
    margin: 0px;
    border: none;
    animation-name: pulse;
    --startColor: none;
    --pulseColor: none;
    */
}

.gameCell:hover {
    color: #f4ede1;
}

/*
.easyPulse {
    animation-duration: 1s;
}
@keyframes pulse {
    from { background-color: var(--startColor); }
    to { background-color: var(--pulseColor); }
}
*/

/* Responsive layout - when the screen is less than 800px wide, make the three 
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .middlecolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .box, .clearbox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/**/

/* Copy Game */