/* General */

/* Home Page */

/* Info Page */

/* Login Page */

/* Card Game */

/* Settings 1 */

/* Copy Game */

/* Settings 2 */

.leftcolumn {   
    float: left;
    left: 0;
    width: 33%;
    padding-right: 20px;
}

.middlecolumn {
    float: left;
    width: 33%;
    background-color: #f1f1f1;
}
  
  /* Right column */
.rightcolumn {
    float: left;
    right: 0;
    width: 33%;
    padding-left: 20px;
}

.box {
    text-align: center;
    background-color: white;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
}

.clearbox {
    background-color: none;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .middlecolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .box, .clearbox {
        margin-top: 0px;
    }
}